body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}

blockquote, p {
  text-align: center;
}

blockquote {
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
  font-size: 30px;
  line-height: 2;
}

p {
  font-style: italic;
  font-weight: bold;
}
